* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
}

.container {
  margin: 0 auto;
  max-width: 144rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: hsl(244, 38%, 16%);
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4rem;
}

.stats-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.attribution {
  margin-top: 10rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
